NEXT_PUBLIC_SUPABASE_URL=https://alrazxpdcagyapidcuyf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFscmF6eHBkY2FneWFwaWRjdXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwNzY2OTUsImV4cCI6MjA3NzQzNjY5NX0.K8AjXZmR_b1PuVayCgTn2cj8OUNMO0TG5j5QM9Qd35o
NEXT_PUBLIC_API_BASE_URL=https://llm-upgrade.onrender.com
NEXT_PUBLIC_GEMINI_MODEL=gemini-2.5-flash
